:root {
--primary-text-color: #757575;
--title-text-color: #212121;;
--accent-color: #2196F3;
--white-text-color: #FFFFFF;
--address-text-color: rgba(255, 255, 255, 0.6);
--background-color-service-footer:  #2F303A;
--background-color-team: #F5F4FA;
--logo-text-color: #000000;
}

/* primary-text-color color-balck: #212121;*/
/* akcent-blue: color: #2196F3; */
/* description-text-color-white: color: #FFFFFF;*/
/* text-color-grey: color: #757575; */
/* adress-color: color: rgba(255, 255, 255, 0.6);*/


body {
    font-family: "Roboto", sans-serif;
    color: var(--primary-text-color);
    }    

.header {
    background-color: var(--white-text-color);
}

.order-servise {
    background-color: var(--background-color-service-footer);
}


.our-team {
    background-color: var(--background-color-team);
}

.employee-name, 
.employee-position {
    background-color: var(--white-text-color);
}

footer {
    background-color: var(--background-color-service-footer);
}


.logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
/* identical to box height */
    letter-spacing: 0.03em;
    color: var(--logo-text-color);
    list-style: none;
    text-decoration: none;
}

.logo-name-part {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--white-text-color);
}

.navigation-list {
    list-style: none;
}
  
.navigation-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    list-style: none;
    text-decoration: none;
}

.contacts { 
    list-style: none;
}

.header-email-link,
.header-tel-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
}

.header-email-link:hover,
.header-email-link:focus,
.header-tel-link:hover,
.header-tel-link:focus,
.navigation-list-link:hover,
.navigation-list-link:focus {
    color: var(--accent-color);
}

.description {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
    }

.modal-button {
    font-family: "Roboto", sans-serif; 
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    /* identical to box height, or 187% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
    background:var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    }

.advantages-list {
    list-style: none;
}

.advantages-description {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.advantages-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.work-description-list {
    list-style: none;
}

.section-description {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team-list{
    list-style: none;
}

.employee-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.employee-position {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.188;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
}

.address {
    font-style: normal;
    color: var(--white-text-color);
    }

.address-street {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    /* or 171% */
    letter-spacing: 0.03em;
}

.portfolio-list {
    list-style: none;
}

.portfolio-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
}

.our-portfolio-list {
    list-style: none;
}

.portfolio-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.000;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.portfolio-type {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.875;
    /* identical to box height, or 187% */
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
    background: var(--accent-color);
    cursor: pointer;
}

.navigation-list .navigation-list-link .current {
    color: var(--accent-color)
}